[Unit]
Description=OpenSprinkler Raspberry Pi

[Service]
User=ospi
WorkingDirectory=/etc/opensprinkler
ExecStart=/etc/opensprinkler/OpenSprinkler
KillMode=process
Restart=on-failure
ExecStartPre=/etc/opensprinkler/reset_sprinklers
ExecStopPost=/etc/opensprinkler/reset_sprinklers

[Install]
WantedBy=multi-user.target
