[Unit]
Description=OpenSprinkler Raspberry Pi

[Service]
User=root
ExecStart=/usr/local/sbin/OpenSprinkler
KillMode=process
Restart=on-failure
ExecStartPre==/usr/local/sbin/reset_all_sprinklers
ExecStopPost=/usr/local/sbin/reset_all_sprinklers

[Install]
WantedBy=multi-user.target
